body {
  background-image: url("../images/bg-pattern-top.svg"),
    url("../images/bg-pattern-bottom.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: right 50vw bottom 50vh, left 50vw top 50vh;
  background-color: hsl(185, 75%, 39%);
  margin: 0;
  font-family: "Kumbh Sans", sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

h4 {
  margin: 0.5rem 0;
  font-weight: 700;
  font-size: 18px;
}

a {
  color: #ffffff;
}

a:hover,
a:active {
  color: #ffffff;
}

.card {
  background-color: #ffffff;
  border-radius: 1rem;
  min-width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.profile-wrapper {
  display: flex;
  justify-content: center;
  margin: -50px;
}

.background-card {
  width: 100%;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.profile-image {
  border-radius: 50%;
  border: 4px solid #ffffff;
  background-color: #ffffff;
}

.info-wrapper {
  margin-top: 70px;
  text-align: center;
}

.years,
.place {
  color: hsl(0, 0%, 59%);
  font-weight: 400;
}

.data-wrapper {
  border-top: 1px solid #e7e7e7;
  margin-top: 1.5rem;
  padding: 1.5rem;
  display: flex;
  justify-content: center;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 1.5rem;
}

.data-number {
  font-size: 18px;
  font-weight: 700;
}

.data-category {
  font-size: 0.8rem;
  font-weight: 400;
  color: hsl(0, 0%, 59%);
  margin-top: 0.5rem;
}

footer {
  margin-top: auto;
  height: 2rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
